.rating {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 10px;
  & > * {
    scale: 0.8;
  }
}

@media (max-width: 580px) {
  .rating {
    justify-content: flex-start;
    margin: 0;
    gap: 0.3rem;
    & > * {
      scale: 0.8;
      width: 12%;
    }
  }
}
