.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  height: 2vw;
  min-width: 10vw;
  border-radius: 13px;
  background-color: #ff6060;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}
@media (min-width: 1500px) {
  .tag {
    height: 1.7vw;
  }
}
@media (max-width: 800px) {
  .tag {
    height: 4vw;
  }
}
@media (max-width: 500px) {
  .tag {
    font-size: 0.65rem;
    height: 4.5vw;
    border-radius: 5px;
    padding: 3px 13px;
  }
}
