.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  .error-code {
    margin: 60px 0 0 0;
    font-size: 14rem;
    font-weight: bold;
    color: #ff6060;
    line-height: 1;
  }
  .error-text {
    margin: 0 0 20px 0;
    font-size: 2rem;
    font-weight: 500;
    color: #ff6060;
  }
  a {
    text-decoration: underline;
    color: black;
    margin-bottom: 130px;
    font-weight: 500;
  }
}

/*************** Responsive Tablets ******************/
@media (max-width: 700px) {
  .error {
    .error-code {
      font-size: 7rem;
    }
    .error-text {
      font-size: 1.3rem;
      text-align: center;
      span {
        white-space: pre;
      }
    }
  }
}
/*************** Responsive Phones ******************/
@media (max-width: 550px) {
  .error {
    .error-code {
      font-size: 5rem;
    }
    .error-text {
      font-size: 1.1rem;
      text-align: center;
      span {
        white-space: pre;
      }
    }
    a {
      font-size: 0.9rem;
    }
  }
}
